<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OrderToDrawing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrderToDrawing.Properties.Settings.MW_TC_LN_InterfaceConnectionString"
            connectionString="Data Source=DBAG92;Initial Catalog=MW_TC_LN_Interface;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OrderToDrawing.Properties.Settings.MW_TC_LN_InterfaceConnectionString1"
            connectionString="Data Source=WITILN07\informig;Initial Catalog=MW_TC_LN_Interface;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OrderToDrawing.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=dbag92;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <OrderToDrawing.Properties.Settings>
            <setting name="CSVSearchingPath" serializeAs="String">
                <value>\\WIPFIL02\InforLNTest\ACAD\Seriennummernfiles\</value>
            </setting>
            <setting name="DWGOutputPath" serializeAs="String">
                <value>\\WIPFIL02\InforLNTest\ACAD\BestellskizzenNeu\</value>
            </setting>
            <setting name="DWGSearchingPath" serializeAs="String">
                <value>\\wiptcr05\sbomi\dwg\</value>
            </setting>
            <setting name="CSVOutputPath" serializeAs="String">
                <value>\\WIPFIL02\InforLNTest\ACAD\Archiv\</value>
            </setting>
            <setting name="PDSSearchingPath" serializeAs="String">
                <value>\\wiptcr05\sbomi\dwg\</value>
            </setting>
            <setting name="SerialBlocks" serializeAs="String">
                <value>ra_ra*,ra_ga*,stahl_aus_trep*,wcbox_RAHM*,terr_ra_*,basic_ra_*,stahl_treppencont*,tholz_ra_*,pl_ra*</value>
            </setting>
            <setting name="SerialAtts" serializeAs="String">
                <value>183_CNR,0001_CNR</value>
            </setting>
            <setting name="EventCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScriptFile" serializeAs="String">
                <value>\\wipfil32\Process\PDS\bat\ctx_pds_bs_infor.scr</value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>\\wiptcr05\sbomi\log\DWGtoOrderDWG\</value>
            </setting>
            <setting name="LogFileMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoPDSArtikel" serializeAs="String">
                <value>LC*</value>
            </setting>
            <setting name="DWGOrderCopyPath" serializeAs="String">
                <value>\\shw04c\ContainexTechnik\Offert-Bestellwesen\Bestellskizzen\InforLN\</value>
            </setting>
            <setting name="IgnoreArtikel" serializeAs="String">
                <value>MB*,IG*</value>
            </setting>
            <setting name="NamingRule" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="NamingRuleIgnore" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="ScriptFile2" serializeAs="String">
                <value>\\wipfil32\Process\PDS\bat\ctx_pds_bs_infor_end.scr</value>
            </setting>
            <setting name="Plot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JsonSearchingPath" serializeAs="String">
                <value>\\wiptcr05\sbomi\updated\</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DBAG92;Initial Catalog=MW_TC_LN_Interface;Integrated Security=True</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>\\wipfil32\CTXSR\OrderToDrawingCOIN\user.config</value>
            </setting>
            <setting name="ObjectIdentificatorAsBlock" serializeAs="String">
                <value>True</value>
            </setting>
        </OrderToDrawing.Properties.Settings>
    </userSettings>
</configuration>
